/* * {
  border: 1px solid red;
} */
main {
  margin: 0 auto;
  max-width: 1000px;
}
.ui.search {
  margin: 20px auto;
}
.results.visible {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.ui.centered.card {
  margin: 20px auto 0;
  min-height: 10em;
}