/* * {
  border: 1px solid red;
} */
main {
  margin: 0 auto;
  max-width: 1000px;
}
h1#top-title {
  margin: 40px auto -10px;
  font-size: 3em;
}
.ui.search {
  margin: 20px auto;
}
.hide-city {
  /* Visibility makes items under it clickable, opacity allows the fade effect */
  opacity: 0;
  visibility: hidden;
  margin-bottom: -175px;
}
.show-city {
  /* CSS animations for the result city showing up */
  -webkit-transition: margin-bottom ease 1s, opacity ease 3s;
  transition: margin-bottom ease 1s, opacity ease 3s;
  opacity: 1;
  /* Default - visibility: visible; */
  margin-bottom: 40px;
}
#sunny-city-list {
  opacity: 1;
  -webkit-transition: opacity ease 0.25s;
  transition: opacity ease 0.25s;
}
.hide-text {
  opacity: 0 !important;
}
.results.visible {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}
.ui.centered.card {
  margin: 20px auto;
  min-height: 7em;
}
#sunny-table {
  margin-bottom: 10px;
}
#sad-table {
  margin-bottom: 75px;
}
footer {
  margin: 0 auto 20px;
}