/* * {
  border: 1px solid red;
} */
main {
  margin: 0 auto;
  max-width: 1000px;
}
h1#top-title {
  margin: 40px auto -10px;
  font-size: 3em;
}
.ui.search {
  margin: 20px auto;
}
.results.visible {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}
.ui.centered.card {
  margin: 20px auto;
  min-height: 7em;
}
#sunny-table {
  margin-bottom: 10px;
}
#sad-table {
  margin-bottom: 75px;
}
footer {
  margin: 0 auto 20px;
}